body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main {
  background-image: url(./assets/background.png);
  width: 100%;
  height: 495.5px;
}

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  height: 57px;
  display: flex;
  justify-content: space-between;
  margin: 20px 56px 0 56px;
}

nav > div > select {
  background-color: black;
  color: white;
  margin: 10px;
  width: 94px;
  height: 36px;
  text-align: center;
}

nav > div > img {
  position: absolute;
}

.header > nav > div > .arrow {
  margin: 21px 87px;
}

.header > nav > div > .earth {
  margin: 21px 17px;
}

.signIn {
  background-color: red;
  color: white;
  border: none;
  width: 84px;
  height: 34px;
}

.signIn > a {
  color: white;
  text-decoration: none;
}

/*--------------------------------------------------Hero Section-----------------------------------------------*/

.hero {
  margin: 0;
  height: 355px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero > h1 {
  width: 49%;
  font-family: sans-serif;
  font-size: 44px;
  margin: 0;
  line-height: 50px;
}

#watch {
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 10px;
}

#membership {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-top: 0;
}

form {
  display: flex;
  justify-content: center;
}

#email {
  width: 300px;
  height: 40px;
}

form > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  background-color: red;
  color: white;
  border: 0;
}

#email::placeholder {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 700;
}

button {
  font-family: sans-serif;
}

/*----------------------------------------------Sections-------------------------------------------------------*/
.hr {
  width: 100%;
  height: 5px;
  background-color: gray;
}

section {
  background-color: black;
  color: white;
  width: 100%;
  height: 326px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

section > .text {
  width: 32%;
  font-family: sans-serif;
  margin-left: 40px;
}

section > .text > h1 {
  width: 100%;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

section > .text > p {
  width: 90%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: justify;
}

section > .media {
  box-sizing: border-box;
  width: 32%;
  height: 80%;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#frame {
  width: 395px;
  position: relative;
}

section > .media > video {
  width: 293px;
  margin-right: 0.2rem;
  margin-bottom: 0.5rem;
  height: 293px;
  position: absolute;
}

#kids {
  width: 400px;
}

/*---------------------------------------FAQ-------------------------------------------*/
.container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: sans-serif;
}

.container > h1 {
  color: white;
}

.faq {
  background-color: rgb(51, 49, 49);
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: white;
}

.faq > img {
  width: 30px;
  height: 30px;
}

.get_started > p {
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.get_started {
  margin-bottom: 30px;
}

/*----------------------------------------Footer---------------------------------------*/
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.footer_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  margin: 0;
}

.list ul li {
  list-style-type: none;
  margin-bottom: 1rem;
  color: rgba(116, 110, 110, 0.5);
}

.footer_container {
  display: flex;
  flex-direction: column;
}

.footer_container > p {
  margin-left: 38px;
  color: rgba(116, 110, 110, 0.5);
}

.foot_select {
  margin-left: 30px;
}

footer .foot_select > select {
  background-color: black;
  color: rgba(116, 110, 110, 0.5);
  margin: 10px;
  width: 94px;
  height: 36px;
  text-align: center;
}

footer .foot_select > img {
  position: absolute;
}

footer .foot_select > .earth {
  margin: 21px 18px;
  filter: brightness(0.2);
}

footer .foot_select > .arrow {
  margin: 21px 87px;
  filter: brightness(0.2);
}

/*--------------------------------------Media Queries--------------------------------------------*/

@media (max-width: 660px) {
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }

  nav > div > select,
  .arrow,
  .earth {
    display: none;
  }

  section {
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  section > .text {
    width: 80%;
    font-family: sans-serif;
    text-align: center;
  }

  section > .text > h1 {
    width: 100%;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
  }

  section > .text > p {
    width: 90%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  form > button {
    height: 50px;
  }

  .container > h1 {
    text-align: center;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  nav {
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  main {
    width: 100%;
    height: 600px;
  }

  .hero {
    margin: 0;
    width: 100%;
    height: 500px;
  }

  .hero > h1 {
    width: 100%;
  }
}
